@import "../variables";

.feedback {
  .feedback__title {
    line-height: 26px;
    @media (min-width: $mobile) {
      font-size: 18px;
    }
    @media (min-width: $tablet) {
      font-size: 21px;
    }
  }

  .feedback__label {
    font-weight: $regular;
    font-size: 14px;
    line-height: 26px;
  }

  .feedback__label--radio,
  .feedback__label--checkbox {
    text-transform: none;
    font-weight: $bold;
    font-size: 18px;
    line-height: 26px;
  }

  .feedback__input {

  }

  .feedback__input--text,
  .feedback__textreview {
    @extend body;
    background-color: $input-bgcolor;
    text-transform: none;
    font-size: 18px;
    line-height: 26px;
  }

  button {
    @extend body;
  }

  .feedback__note {
    font-weight: $regular;
    font-size: 14px;
    line-height: 26px;
    color: rgb(51, 51, 51);
  }
}