@import "feedback",
"../variables";

.feedback-preview {
  text-align: center;

  .feedback-preview__title {
    @media (min-width: $mobile) {
      font-size: 18px;
    }
    @media (min-width: $tablet) {
      font-size: 30px;
    }
  }

  .feedback-preview__asking {
    color: rgb(51, 51, 51);
    font-size: 14px;
    line-height: 24px;
    font-weight: $regular;
  }
}