@import "../variables";

.likes {
  display: flex;
  .likes__button {
    cursor: pointer;
    width: 22px;
    height: 21px;
    margin-right: 15px;
    @media (min-width: $mobile) {
       background: url("../../img/like-icon-mobile.png");
    }
    @media (min-width: $desktop) {
      background: url("../../img/like-icon-desktop.png");
    }
  }

  .likes__number {
    font-size: 14px;
    line-height: 24px;
    background: none;
    @media (min-width: $mobile) {
      color: black;
    }
    @media (min-width: $desktop) {
      color: white;
    }
  }
}