@import "../variables";

.main-nav {
  @media (min-width: $tablet) {
    height: 100%;
  }
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    @media (min-width: $tablet) {
      flex-wrap: nowrap;
      height: 100%;
    }
  }
}

.main-nav__open {
  position: absolute;
  right: 20px;
  bottom: 26px;
  width: 23px;
  height: 3px;
  border-top: 1px solid rgb(192, 217, 232);
  border-bottom: 1px solid rgb(192, 217, 232);
  background: $light-blue;

  @media (min-width: $tablet) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 4px;
    background: $light-blue;
    transition: linear 0.3s;
  }
  &::before {
    transform: translate(0, 8px);
  }
  &::after {
    transform: translate(0, -10px);
  }
}

.main-nav__close {
  @extend .main-nav__open;
  background: white;
  border: none;
  &::before,
  &::after {
    width: 140%;

  }
  &::before {
    transform: translate(-4px, -1px) rotate(45deg);
  }
  &::after {
    transform: translate(-4px, -1px) rotate(-45deg);
  }
}

.main-nav__hidden {
  @media (max-width: $tablet - 1) {
    display: none;
  }
}