@import "../variables";

.photos {
  .photos__preview {
    text-align: center;
    @extend .feedback-preview;
    .photos__title--preview {
      line-height: 26px;
      @extend .feedback-preview__title;
      @media (min-width: $mobile) {
        font-size: 18px;
      }
      @media (min-width: $tablet) {
        font-size: 30px;
      }
    }
  }

  .photos__desc {
    @include sedona_desc();
    line-height: 24px;
    @media (min-width: $mobile) {
      width: 270px;
    }
  }

  .photos__gallery {
    .photos__item {
      margin: 0;
      @media (min-width: $mobile) {
        padding: 22px 0;
        @include sedona_border();
        &:last-of-type {
          border-bottom: $sedona__border-bottom;
        }
      }
      .photos__pic,
      .photos__info {
        @media (min-width: $mobile) {
          @include sedona_container();
        }
      }

      .photos__pic {
        min-height: 280px;
        background-color: aquamarine;
      }

      .photos__pic--image {
        width: 100%;
      }

      .photos__info {
        @media (min-width: $mobile) {
          color: black;
        }
        @media (min-width: $tablet) {
          background: rgb(242, 242, 242);
        }
        @media (min-width: $desktop) {
          color: white;
          background: rgba(0, 0, 0, 0.3);
        }

        .photos__title {
          font-size: 14px;
          line-height: 24px;
          @media (min-width: $mobile) {
            margin-top: 10px;
          }
        }

        .photos__author {
          font-size: 14px;
          font-weight: $regular;
          line-height: 24px;
          text-transform: none;
          @media (min-width: $mobile) {
            color: rgb(51, 51, 51);
            margin: 5px 0 10px;
          }
          @media (min-width: $desktop) {
            color: white;
          }
        }
      }
    }
  }
}