@import "../variables";

.popup {
  .popup__title {
    @media (min-width: $mobile) {
      font-size: 18px;
      line-height: 26px;
    }
    @media (min-width: $tablet) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .popup__desc {
    font-weight: $regular;
    font-size: 14px;
    line-height: 24px;
    color: rgb(51, 51, 51);
  }

  button {
    @extend body;
    line-height: 26px;
    @media (min-width: $mobile) {
      font-size: 18px;
    }
    @media (min-width: $tablet) {
      font-size: 21px;
    }
  }
}