@import "../variables",
"features",
"../mixins";

.reason {
  text-align: center;
  @media (min-width: $mobile) {
    line-height: 20px;
  }
  @media (min-width: $desktop) {
    line-height: 26px;
  }

  .reason__title {
    @include sedona_title();
    @media (min-width: $mobile) {
      margin-bottom: 15px;
    }
    @media (min-width: $tablet) {
      width: 160px;
    }
  }

  .reason__desc,
  .reason__number {
    @include sedona_desc();
  }

  .reason__desc {
    @media (min-width: $mobile) {
      margin-top: 23px;
      width: 265px;
    }
    @media (min-width: $tablet) {
      margin-top: 24px;
    }
  }
}

@for $i from 1 through 3 {
  .page-index > .reason:nth-of-type(#{$i}) {
    background: $light-blue;
    color: white;
    @media (min-width: $tablet) {
      display: flex;
    }

    /* распорка для тянущейся высоты блока */
    &:before {
      @media (min-width: $tablet) {
        content: "";
        padding-top: 33.3333%;
        float: left;
      }
    }

    .reason__wrapper {
      @media (min-width: $mobile) {
        padding: 40px 0;
      }
      @media (min-width: $tablet) {
        width: 33.33%;
        margin: auto 0;
      }
      @media (min-width: $desktop) {
        padding: 58px 0;
      }

      .reason__desc {
        @media (min-width: $tablet) {
          width: 161px;
        }
        @media (min-width: $desktop) {
          width: 235px;
        }
      }
      .reason__desc,
      .reason__number {
        color: white;
      }
    }

    .reason__image {
      background: chartreuse;
      flex-grow: 1;
      @media (min-width: $mobile) {
        min-height: 260px;
        overflow: hidden;
      }
      @media (min-width: $tablet) {
        min-height: 256px;
        height: inherit;
        overflow: hidden;
      }
    }

    .reason__image:before {
      @media (max-width: $tablet - 1) {
        content: "";
        padding-top: 80%;
        float: left;
      }
    }

    .reason__image--first {
      @media (min-width: $mobile) {
        background: url("../../img/main-city-mobile@1x.jpg") no-repeat;
        background-size: 100%;
      }
      @media (min-width: $mobile) and (min-resolution: 2dppx) {
        background: url("../../img/main-city-mobile@2x.jpg") no-repeat;
        background-size: 100%;
      }
      @media (min-width: $tablet) {
        background: url("../../img/main-city-tablet@1x.jpg") no-repeat;
        background-size: 100%;
      }
      @media (min-width: $tablet) and (min-resolution: 2dppx) {
        background: url("../../img/main-city-tablet@2x.jpg") no-repeat;
        background-size: 100%;
      }
      @media (min-width: $desktop) {
        background: url("../../img/main-city-desktop@1x.jpg") no-repeat;
        background-size: 100%;
      }
      @media (min-width: $desktop) and (min-resolution: 2dppx) {
        background: url("../../img/main-city-desktop@2x.jpg") no-repeat;
        background-size: 100%;
      }
    }

    .reason__image--second {
      @media (min-width: $mobile) {
        background: url("../../img/main-bridge-mobile@1x.jpg") no-repeat;
        background-size: 100%;
      }
      @media (min-width: $mobile) and (min-resolution: 2dppx) {
        background: url("../../img/main-bridge-mobile@2x.jpg") no-repeat;
        background-size: 100%;
      }
      @media (min-width: $tablet) {
        background: url("../../img/main-bridge-tablet@1x.jpg") no-repeat;
        background-size: 100%;
      }
      @media (min-width: $tablet) and (min-resolution: 2dppx) {
        background: url("../../img/main-bridge-tablet@2x.jpg") no-repeat;
      }
      @media (min-width: $desktop) {
        background: url("../../img/main-bridge-desktop@1x.jpg") no-repeat;
      }
      @media (min-width: $desktop) and (min-resolution: 2dppx) {
        background: url("../../img/main-bridge-desktop@2x.jpg") no-repeat;
      }
    }
  }
}

.reason--second {
  flex-direction: row-reverse;
}

.reason__minor {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  .reason {
    background: #eeeeee;
    @media (min-width: $tablet) {
      width: 33.33%;
      border: none;
      padding: 45px 0;
    }
    @media (min-width: $desktop) {
      padding-bottom: 67px;
    }

    .reason__wrapper {
      @media (max-width: $tablet - 1) {
        @include sedona_container();
        @include sedona_border();
        padding: 30px 0;
      }

      .reason__desc {
        @media (min-width: $mobile) {
          width: 260px;
        }
        @media (min-width: $tablet) {
          width: 150px;
        }
        @media (min-width: $desktop) {
          width: 265px;
        }
      }
    }
  }
}

