@import "../variables";
@import "features";

.reason {
  background: #eeeeee;
  text-align: center;
  font-size: 21px;
  @media (min-width: $mobile) {
    line-height: 20px;
  }
  @media (min-width: $desktop) {
    line-height: 26px;
  }

  .reason__title {
    @extend .features__title;
  }

  .reason__desc,
  .reason__number {
    @extend .features__desc;
  }
}

@for $i from 1 through 3 {
  .reason:nth-of-type(#{$i}) {
    background: $light-blue;
    color: white;
  }
}

