@import "../variables";

.site-list__item {
  list-style-type: none;
  @media (min-width: $mobile) {
    background: $light-blue;
  }
  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 26px;
    background: white;
  }

  .site-list__link {
    text-decoration: none;
    @media (min-width: $mobile) {
      color: white;
    }
    @media (min-width: $tablet) {
      color: black;
    }
  }
}