@import "../variables";

.social {
  display: flex;
  @media (min-width: $mobile) {
    padding: 0;
    margin-bottom: 40px;
    justify-content: center;
  }
  @media (min-width: $tablet) {
    width: 33.33%;
    margin: 0;
  }
  .social__item {
    cursor: pointer;
    background: $light-blue no-repeat 50% 50%;
    list-style-type: none;
    width: 46px;
    height: 48px;
    margin-right: 6px;

    &:hover {
      background-color: $light-blue-hover;
    }
    &:active {
      background-color: $light-blue-active;
      color: rgba(255,255,255,0.3);
    }
  }

  .social__item--twitter {
    background-image: url("../../img/icon-twitter.svg");
  }
  .social__item--facebook {
    background-image: url("../../img/icon-facebook.svg");
  }
  .social__item--youtube {
    background-image: url("../../img/icon-youtube.svg");
  }
}