@charset "UTF-8";
/* основной цвет сайта */
/* основной цвет сайта */
.button {
  background: #81b3d2;
  color: white;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer; }

/* основной цвет сайта */
.features__title, .reason .reason__title {
  line-height: 26px; }
  @media (min-width: 768px) {
    .features__title, .reason .reason__title {
      font-size: 21px; } }
  @media (min-width: 320px) {
    .features__title, .reason .reason__title {
      font-size: 18px; } }

.features__desc, .reason .reason__desc,
.reason .reason__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333; }

/* основной цвет сайта */
.feedback .feedback__title {
  line-height: 26px; }
  @media (min-width: 320px) {
    .feedback .feedback__title {
      font-size: 18px; } }
  @media (min-width: 768px) {
    .feedback .feedback__title {
      font-size: 21px; } }

.feedback .feedback__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px; }

.feedback .feedback__label--radio,
.feedback .feedback__label--checkbox {
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px; }

.feedback .feedback__input--text,
.feedback .feedback__textreview {
  background-color: #f2f2f2;
  text-transform: none;
  font-size: 18px;
  line-height: 26px; }

.feedback .feedback__note {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #333333; }

/* основной цвет сайта */
.feedback .feedback__title {
  line-height: 26px; }
  @media (min-width: 320px) {
    .feedback .feedback__title {
      font-size: 18px; } }
  @media (min-width: 768px) {
    .feedback .feedback__title {
      font-size: 21px; } }

.feedback .feedback__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px; }

.feedback .feedback__label--radio,
.feedback .feedback__label--checkbox {
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px; }

.feedback .feedback__input--text,
.feedback .feedback__textreview {
  background-color: #f2f2f2;
  text-transform: none;
  font-size: 18px;
  line-height: 26px; }

.feedback .feedback__note {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #333333; }

/* основной цвет сайта */
.feedback-preview {
  text-align: center; }
  @media (min-width: 320px) {
    .feedback-preview .feedback-preview__title {
      font-size: 18px; } }
  @media (min-width: 768px) {
    .feedback-preview .feedback-preview__title {
      font-size: 30px; } }
  .feedback-preview .feedback-preview__asking {
    color: #333333;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400; }

/* основной цвет сайта */
/* основной цвет сайта */
.button {
  background: #81b3d2;
  color: white;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer; }

.hotel-search {
  text-align: center; }
  .hotel-search .hotel-search__title {
    line-height: 26px; }
    @media (min-width: 320px) {
      .hotel-search .hotel-search__title {
        font-size: 21px; } }
    @media (min-width: 768px) {
      .hotel-search .hotel-search__title {
        font-size: 30px; } }

/* основной цвет сайта */
.copyright__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: black;
  text-decoration: none; }

/* основной цвет сайта */
.likes .likes__number {
  background: none; }
  @media (min-width: 320px) {
    .likes .likes__number {
      color: black; } }
  @media (min-width: 1200px) {
    .likes .likes__number {
      color: white; } }

/* основной цвет сайта */
@media (min-width: 768px) {
    .main-nav {
        height: 100%;
    }
}

.main-nav .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .main-nav .main-nav__list {
        flex-wrap: nowrap;
        height: 100%;
    }
}

.main-nav__open {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 23px;
    height: 21px;
}

@media (min-width: 768px) {
    .main-nav__open {
        display: none;
    }
}

.page-footer__title {
  font-size: 21px;
  line-height: 26px; }

/* основной цвет сайта */
.page-header {
    position: relative;
}

@media (min-width: 320px) {
    .page-header {
        height: 280px;
    }
}

@media (min-width: 768px) {
    .page-header {
        height: 56px;
    }
}

.page-header .page-header__logo {
    position: absolute;
    left: calc(50% - 51px);
}

@media (min-width: 768px) {
    .page-header .page-header__logo {
        top: 0;
    }
}

/* основной цвет сайта */
.photos .photos__preview {
  text-align: center; }
  .photos .photos__preview .photos__title--preview {
    line-height: 26px; }
    @media (min-width: 320px) {
      .photos .photos__preview .photos__title--preview {
        font-size: 18px; } }
    @media (min-width: 768px) {
      .photos .photos__preview .photos__title--preview {
        font-size: 30px; } }

.photos .photos__desc {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333; }

.photos .photos__gallery .photos__item .photos__title, .photos .photos__gallery .photos__item .likes .likes__number, .likes .photos .photos__gallery .photos__item .likes__number {
  font-size: 14px;
  line-height: 24px; }

@media (min-width: 320px) {
  .photos .photos__gallery .photos__info {
    color: black; } }

@media (min-width: 768px) {
  .photos .photos__gallery .photos__info {
    background: #f2f2f2; } }

@media (min-width: 1200px) {
  .photos .photos__gallery .photos__info {
    color: white;
    background: rgba(0, 0, 0, 0.3); } }

.photos .photos__gallery .photos__info .photos__author {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none; }
  @media (min-width: 320px) {
    .photos .photos__gallery .photos__info .photos__author {
      color: #333333; } }
  @media (min-width: 1200px) {
    .photos .photos__gallery .photos__info .photos__author {
      color: white; } }

/* основной цвет сайта */
@media (min-width: 320px) {
  .popup .popup__title {
    font-size: 18px;
    line-height: 26px; } }

@media (min-width: 768px) {
  .popup .popup__title {
    font-size: 30px;
    line-height: 40px; } }

.popup .popup__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333; }

.popup button {
  line-height: 26px; }
  @media (min-width: 320px) {
    .popup button {
      font-size: 18px; } }
  @media (min-width: 768px) {
    .popup button {
      font-size: 21px; } }

/* основной цвет сайта */
/* основной цвет сайта */
.features__title, .reason .reason__title {
  line-height: 26px; }
  @media (min-width: 768px) {
    .features__title, .reason .reason__title {
      font-size: 21px; } }
  @media (min-width: 320px) {
    .features__title, .reason .reason__title {
      font-size: 18px; } }

.features__desc, .reason .reason__desc,
.reason .reason__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333; }

.reason {
  background: #eeeeee;
  text-align: center;
  font-size: 21px; }
  @media (min-width: 320px) {
    .reason {
      line-height: 20px; } }
  @media (min-width: 1200px) {
    .reason {
      line-height: 26px; } }

.reason:nth-of-type(1) {
  background: #81b3d2;
  color: white; }

.reason:nth-of-type(2) {
  background: #81b3d2;
  color: white; }

.reason:nth-of-type(3) {
  background: #81b3d2;
  color: white; }

.sedona-preview__reasons {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
    font-weight: 400;
  line-height: 26px;
  color: #333333; }

/* основной цвет сайта */
.site-list .site-list__item {
    list-style-type: none;
    text-align: center;
}
  @media (min-width: 320px) {
      .site-list .site-list__item {
          display: block;
          background: #81b3d2;
          width: 100%;
          padding: 8px 0;
      }
  }
  @media (min-width: 768px) {
      .site-list .site-list__item {
          background: white;
          padding: 15px 0;
      }
  }

.site-list .site-list__item .site-list__link {
    text-decoration: none; }
    @media (min-width: 320px) {
        .site-list .site-list__item .site-list__link {
            color: white;
            font-size: 18px;
            line-height: 40px;
        }
    }
    @media (min-width: 768px) {
        .site-list .site-list__item .site-list__link {
            color: black;
            font-size: 14px;
            line-height: 26px;
        }
    }

.site-list .site-list__item .site-list__close {
    position: absolute;
    top: 17px;
    right: 20px;
    width: 23px;
    height: 22px;
}

@media (min-width: 768px) {
    .site-list .site-list__item .site-list__close {
        display: none;
    }
}

@media (min-width: 768px) {
    .site-list .site-list__item:nth-of-type(2) {
        margin-right: 102px;
    }
}

/* основной цвет сайта */
.social__item {
  background: #81b3d2;
  list-style-type: none; }

/* основной цвет сайта */
.video {
  text-align: center; }
  .video .video__title {
    line-height: 26px; }
    @media (min-width: 320px) {
      .video .video__title {
        font-size: 18px; } }
    @media (min-width: 768px) {
      .video .video__title {
        font-size: 30px; } }
  .video .video__controls {
    background: rgba(0, 0, 0, 0.6); }
    @media (max-width: 767px) {
      .video .video__controls .video__buttons {
        background: #f2f2f2; } }

body, .feedback .feedback__input--text,
.feedback .feedback__textreview, .feedback button, .popup button {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
    text-transform: uppercase;
    min-width: 320px;
    width: 100%;
    margin: 0;
}

body .container, .feedback .feedback__input--text .container, .feedback .feedback__textreview .container, .feedback button .container, .popup button .container {
    width: 280px;
    padding: 0 20px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    body .container, .feedback .feedback__input--text .container, .feedback .feedback__textreview .container, .feedback button .container, .popup button .container {
        width: 648px;
        padding: 0 60px;
    }
}

@media (min-width: 1200px) {
    body .container, .feedback .feedback__input--text .container, .feedback .feedback__textreview .container, .feedback button .container, .popup button .container {
        width: 1200px;
        padding: 0;
    }
}
