@import "variables",
"mixins";

.features {
  @media (max-width: $tablet - 1) {
    @include sedona_container();
  }
  @media (min-width: $tablet) {
    display: flex;
  }

  .features__item {
    @media (min-width: $mobile) {
      padding-left: 22%;
      padding-top: 40px;
      &:last-of-type {
        padding-bottom: 40px;
      }
    }
    @media (min-width: $tablet) {
      width: 33.33%;
      padding-left: 0;
      padding-top: 160px;
      padding-bottom: 62px;
      &:nth-of-type(2) {
        .features__desc {
          width: 160px;
        }
      }
    }
    @media (min-width: $desktop) {
      padding-bottom: 85px;
      &:nth-of-type(2) {
        .features__desc {
          width: 285px;
        }
      }
    }
  }

  .features__title,
  .features__desc {
    @media (min-width: $tablet) {
      margin: 0 auto;
      text-align: center;
    }
  }

  .features__title {
    @include sedona_title();
    @media (min-width: $mobile) {
      margin-bottom: 18px;
      margin-left: 0;
    }
    @media (min-width: $tablet) {
      margin-bottom: 25px;
    }
  }

  .features__desc {
    @include sedona_desc();
    position: relative;
    @media (min-width: $mobile) {
      width: 210px;
      margin-left: 0;
    }
    @media (min-width: $tablet) {
      width: 163px;
      margin: 0 auto;
    }
    @media (min-width: $desktop) {
      width: 285px;
    }

    &:before {
      position: absolute;
      @media (min-width: $mobile) {
        content: "";
        top: -55px;
        left: -50px;
        width: 40px;
        height: 40px;
      }
      @media (min-width: $tablet) {
        top: -150px;
        left: 43px;
        width: 76px;
        height: 76px;
      }
      @media (min-width: $desktop) {
        left: 104px;
      }
    }
  }

  .features__desc--house:before {
    background: url("../img/icon-house.svg") no-repeat 50% 50%;
    background-size: 100%;
  }

  .features__desc--burger:before {
    background: url("../img/icon-burger.svg") no-repeat 50% 50%;
    background-size: 100%;
  }

  .features__desc--souvenir:before {
    background: url("../img/icon-gift.svg") no-repeat 50% 50%;
    background-size: 85%;
  }
}

.features__sedona-map {
  display: block;
  height: 350px;
  @media (min-width: $desktop) {
    width: $desktop;
    margin: 0 auto;
  }
}
