@import "feedback",
"variables",
"mixins";

.feedback-preview {
  text-align: center;
  @media (min-width: $mobile) {
    padding-bottom: 30px;
  }
  @media (min-width: $tablet) {
    padding-bottom: 40px;
  }
  @media (min-width: $desktop) {
    padding-bottom: 30px;
  }

  .feedback-preview__title {
    @include sedona_title();
    @media (min-width: $mobile) {
      margin-top: 40px;
      margin-bottom: 30px;
    }
    @media (min-width: $tablet) {
      font-size: 30px;
      margin-top: 75px;
      margin-bottom: 35px;
    }
    @media (min-width: $desktop) {
      margin-top: 110px;
    }
  }

  .feedback-preview__asking {
    @include sedona_desc();
    line-height: 24px;
    @media (min-width: $mobile) {
      width: 275px;
    }
    @media (min-width: $tablet) {
      width: 440px;
    }
  }
}