@mixin sedona_title() {
  line-height: 26px;
  display: block;
  margin: 0 auto;
  @media (min-width: $mobile) {
    font-size: 18px;
  }
  @media (min-width: $tablet) {
    font-size: 21px;
  }
}

@mixin sedona_desc() {
  font-family: 'PT Sans', sans-serif;
  font-weight: $regular;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0 auto;
}