@import "variables",
"features",
"mixins";

.sedona-preview {
  text-align: center;
  @media (min-width: $mobile) {
    padding-bottom: 30px;
  }
  @media (min-width: $tablet) {
    padding-bottom: 55px;
  }

  .sedona-preview__background {
    @media (min-width: $mobile) {
      min-height: 390px;
      background: url("../img/text-sedona-index.svg") no-repeat 50% 70px,
      url("../img/bg-intro-triangle-mobile.svg") no-repeat 50% 200px,
      url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
      background-size: 280px, auto 192px, auto 390px;
    }
    /* правило для мобильников Retina */
    @media (min-resolution: 2dppx) and (min-width: $mobile) {
      background: url("../img/text-sedona-index.svg") no-repeat 50% 70px,
      url("../img/bg-intro-triangle-mobile.svg") no-repeat 50% 200px,
      url("../img/bg-back-mobile@2x.jpg") no-repeat 50% 0;
      background-size: 280px, auto 192px, auto 390px;
    }

    @media (min-width: $tablet) {
      min-height: 505px;
      background: url("../img/bg-intro-triangle-tablet.png") no-repeat bottom 0 left 0,
      url("../img/text-sedona-index.svg") no-repeat 50% 50%,
      url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 0;
      background-size: contain, 460px, 100%;
    }
    /* правило для планшетов Retina */
    @media (min-resolution: 2dppx) and (min-width: $tablet) {
      background: url("../img/bg-intro-triangle-tablet.png") no-repeat bottom 0 left 0,
      url("../img/text-sedona-index.svg") no-repeat 50% 50%,
      url("../img/bg-back-tablet@2x.jpg") no-repeat 50% 0;
      background-size: contain, 460px, 100%;
    }

    @media (min-width: $desktop) {
      background: url("../img/bg-intro-triangle-desktop.png") no-repeat bottom 0 left 0,
      url("../img/text-sedona-index.svg") no-repeat 50% 50%,
      url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 0;
      background-size: contain, 460px, 100%;
    }
    /* правило для десктопов Retina */
    @media (min-resolution: 2dppx) and (min-width: $desktop) {
      background: url("../img/bg-intro-triangle-desktop.png") no-repeat bottom 0 left 0,
      url("../img/text-sedona-index.svg") no-repeat 50% 50%,
      url("../img/bg-back-desktop@2x.jpg") no-repeat 50% 0;
      background-size: contain, 460px, 100%;
    }
  }

  .sedona-preview__title {
    @include sedona_title();
    @media (min-width: $mobile) {
      width: 256px;
      margin-top: 40px;
      margin-bottom: 28px;
    }
    @media (min-width: $tablet) {
      width: 450px;
      margin-top: 50px;
    }
  }

  .sedona-preview__reasons {
    @include sedona_desc();
    line-height: 26px;
    @media (min-width: $mobile) {
      width: 250px;
    }
    @media (min-width: $tablet) {
      width: 100%;
    }
  }
}