@import "variables",
"mixins",
"button",
"features",
"feedback",
"feedback-preview",
"hotel-search",
"copyright",
"likes",
"main-nav",
"page-footer",
"page-header",
"page-main",
"photos",
"popup",
"reason",
"sedona-preview",
"site-list",
"social",
"video";

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: $bold;
  text-transform: uppercase;
  margin: 0;
}

.visible {
  display: block;
}