@import "variables",
"blocks/button",
"blocks/features",
"blocks/feedback",
"blocks/feedback-preview",
"blocks/hotel-search",
"blocks/copyright",
"blocks/likes",
"blocks/main-nav",
"blocks/page-footer",
"blocks/page-header",
"blocks/page-main",
"blocks/photos",
"blocks/popup",
"blocks/reason",
"blocks/sedona-map",
"blocks/sedona-preview",
"blocks/site-list",
"blocks/social",
"blocks/video";

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: $bold;
  text-transform: uppercase;
  min-width: $mobile;
  width: 100%;
  margin: 0;

  .container {
    width: 280px;
    padding: 0 20px;
    margin: 0 auto;
    @media (min-width: $tablet) {
      width: 648px;
      padding: 0 60px;
    }
    @media (min-width: $desktop) {
      width: 1200px;
      padding: 0;
    }
  }


}