@import "blocks/features",
"blocks/feedback",
"blocks/feedback-preview",
"blocks/hotel-search",
"blocks/copyright",
"blocks/likes",
"blocks/main-nav",
"blocks/page-footer",
"blocks/page-header",
"blocks/page-main",
"blocks/photos",
"blocks/popup",
"blocks/reason",
"blocks/sedona-map",
"blocks/sedona-preview",
"blocks/site-list",
"blocks/social",
"blocks/video",
"variables";

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: $bold;
  text-transform: uppercase;
}