$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

/* основной цвет сайта */
$light-blue: rgb(129, 179, 210);

$bold: 700;
$regular: 400;

$input-bgcolor: rgb(242, 242, 242);

$sedona__border-bottom: 1px solid rgb(214, 214, 214);